In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

In [2]:
df=pd.read_csv('IMDB_Movies_Dataset.csv')

In [3]:
df.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,NaN,NaN,2 hours 15 minutes

In [4]:
categorical_col=df.select_dtypes(include=['object', 'category']).columns
categorical_col

Index(['Title', 'Director', 'Writer', 'Cast', 'Release Date',
       'Country of Origin', 'Languages', 'Budget', 'Worldwide Gross',
       'Runtime'],
      dtype='object')

In [5]:
cardinality = df[categorical_col].nunique()
cardinality

Title                4927
Director             2648
Writer               4422
Cast                 4981
Release Date         4516
Country of Origin     812
Languages            1084
Budget                882
Worldwide Gross      3865
Runtime               182
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [7]:
df['Worldwide Gross'].value_counts()

Worldwide Gross
$509            7
$46,961         4
$3,389          3
$8,148          3
$1,843          2
               ..
$5,080,409      1
$10,726,612     1
$119,418,501    1
$79,226         1
$550,031        1
Name: count, Length: 3865, dtype: int64

In [8]:
df['Worldwide Gross'].unique()

array(['$29,332,133', '$3,513,659', '$250,342,198', ..., '$29,893,636',
       '$17,871,370', '$550,031'], dtype=object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [10]:
df['Budget'].unique()

array(['$25,000,000 (estimated)', nan, '$6,000,000 (estimated)',
       '$185,000,000 (estimated)', '$22,000,000 (estimated)',
       '$350,000 (estimated)', '$13,000,000 (estimated)',
       '$94,000,000 (estimated)', '$93,000,000 (estimated)',
       '$8,000,000 (estimated)', 'R$8,000,000 (estimated)',
       'BDT\xa035,000,000 (estimated)', '$160,000,000 (estimated)',
       '$63,000,000 (estimated)', '$55,000,000 (estimated)',
       '$1,200,000 (estimated)', '$165,000,000 (estimated)',
       '$3,000,000 (estimated)', '$18,000,000 (estimated)',
       '₹150,000,000 (estimated)', '₹10,000,000 (estimated)',
       '₹600,000,000 (estimated)', '₹25,000,000 (estimated)',
       '₹70,000,000 (estimated)', '₹9,800,000 (estimated)',
       '$33,000,000 (estimated)', '$19,000,000 (estimated)',
       '$3,180,000 (estimated)', '$150,000,000 (estimated)',
       '$70,000,000 (estimated)', '$60,000,000 (estimated)',
       'R$3,300,000 (estimated)', '$102,000,000 (estimated)',
       '$11,000,000 (estimated)', '$20,000,000 (estimated)',
       '¥125,000,000 (estimated)', '₹200,000,000 (estimated)',
       'PKR\xa0700,000,000 (estimated)', '$103,000,000 (estimated)',
       '$190,000,000 (estimated)', '$100,000,000 (estimated)',
       '$11,400,000 (estimated)', '$3,300,000 (estimated)',
       '$90,000,000 (estimated)', '$16,000,000 (estimated)',
       '$40,000,000 (estimated)', '$806,947 (estimated)',
       '$45,000,000 (estimated)', '$35,000,000 (estimated)',
       '€9,500,000 (estimated)', '$3,700,000 (estimated)',
       '$950,000 (estimated)', '$5,000,000 (estimated)',
       '$1,000,000 (estimated)', '$1,500,000 (estimated)',
       '$2,000,000 (estimated)', '₹3,000,000 (estimated)',
       '$1,930,000 (estimated)', '₹5,000,000 (estimated)',
       '$250,000,000 (estimated)', '$356,000,000 (estimated)',
       '$18,500,000 (estimated)', '$31,500,000 (estimated)',
       '$9,000,000 (estimated)', '$321,000,000 (estimated)',
       '$175,000,000 (estimated)', '$180,000,000 (estimated)',
       '¥370,000,000 (estimated)', '$1,752,000 (estimated)',
       '$4,000,000 (estimated)', 'DEM\xa032,000,000 (estimated)',
       '₹550,000,000 (estimated)', '$935,000 (estimated)',
       '¥230,000,000 (estimated)', '₹240,000,000 (estimated)',
       '$3,650,000 (estimated)', 'ROL\xa033,000,000 (estimated)',
       '₹50,000,000 (estimated)', '₹21,000,000 (estimated)',
       '$78,000,000 (estimated)', '$10,000,000 (estimated)',
       '$4,500,000 (estimated)', '$15,000,000 (estimated)',
       '$72,000,000 (estimated)', '$50,000,000 (estimated)',
       'DKK\xa020,000,000 (estimated)', '$12,000,000 (estimated)',
       '$30,000,000 (estimated)', '$6,800,000 (estimated)',
       '$1,800,000 (estimated)', '$32,500,000 (estimated)',
       '¥2,400,000,000 (estimated)', '$927,262 (estimated)',
       '$3,101,000 (estimated)', '$200,000,000 (estimated)',
       'DEM\xa06,000,000 (estimated)', '$839,727 (estimated)',
       '$2,479,000 (estimated)', '$2,540,800 (estimated)',
       '$5,500,000 (estimated)', '$500,000 (estimated)',
       '₹700,000,000 (estimated)', 'RUR\xa08,000,000 (estimated)',
       '$133,000 (estimated)', '₹1,500,000,000 (estimated)',
       '₹35,000,000 (estimated)', '$700,000 (estimated)',
       '₹100,000,000 (estimated)', '₹300,000,000 (estimated)',
       'RUR\xa025,313 (estimated)', '₹280,000,000 (estimated)',
       '$20,000 (estimated)', '₹80,000,000 (estimated)',
       '₹5,100,000 (estimated)', '₹991,000 (estimated)',
       '$400,000 (estimated)', 'LKR\xa0130,000,000 (estimated)',
       '$170,000,000 (estimated)', '$28,000,000 (estimated)',
       '$46,000,000 (estimated)', '$80,000,000 (estimated)',
       '$1,300,000 (estimated)', '$95,000,000 (estimated)',
       '$14,400,000 (estimated)', '$23,000,000 (estimated)',
       '£6,000,000 (estimated)', '$2,200,000 (estimated)',
       '$52,000,000 (estimated)', '$58,000,000 (estimated)',
       '$24,000,000 (estimated)', '$48,000,000 (estimated)',
       '€13,500,000 (estimated)', '$3,977,000 (estimated)',
       '£229,575 (estimated)', '$2,883,848 (estimated)',
       '$11,500,000 (estimated)', '$600,000 (estimated)',
       '$1,400,000 (estimated)', '$250,000 (estimated)',
       '₹500,000,000 (estimated)', '$180,000 (estimated)',
       '$9,400,000 (estimated)', '₹1,000,000,000 (estimated)',
       '₹410,000,000 (estimated)', 'FRF\xa020,000,000 (estimated)',
       '₹450,000,000 (estimated)', '₹800,000,000 (estimated)',
       '₹184,000,000 (estimated)', '₹2,500,000,000 (estimated)',
       'TRL\xa02,000,000 (estimated)', '$195,845 (estimated)',
       '€1,991,181 (estimated)', '₹140,000,000 (estimated)',
       '₹60,000,000 (estimated)', '₹7,500,000 (estimated)',
       '₹20,000,000 (estimated)', '₹11,000,000 (estimated)',
       'CA$200,000 (estimated)', '₹8,000,000 (estimated)',
       'BDT\xa036,000,000 (estimated)', '$2,777,000 (estimated)',
       '$140,000,000 (estimated)', '$125,000,000 (estimated)',
       '$97,000,000 (estimated)', '$16,400,000 (estimated)',
       '$6,400,000 (estimated)', '$61,000,000 (estimated)',
       '₩10,000,000,000 (estimated)', '$8,200,000 (estimated)',
       '$960,000 (estimated)', '$54,000,000 (estimated)',
       '$7,000,000 (estimated)', '£1,500,000 (estimated)',
       '$97,600,000 (estimated)', '£1,162,000 (estimated)',
       '$2,800,000 (estimated)', '$38,000,000 (estimated)',
       '$115,000,000 (estimated)', '$2,500,000 (estimated)',
       '£960,000 (estimated)', '€4,860,000 (estimated)',
       '€2,590,000 (estimated)', '$150,000 (estimated)',
       '$2,700,000 (estimated)', '$910,000 (estimated)',
       '$3,800,000 (estimated)', '$1,288,000 (estimated)',
       '£500,000 (estimated)', 'A$8,240,000 (estimated)',
       '$2,100,000 (estimated)', '$17,500,000 (estimated)',
       '$3,200,000 (estimated)', '$325,000 (estimated)',
       '$800,000 (estimated)', '$1,900,000 (estimated)',
       '$200,000 (estimated)', '$750,000 (estimated)',
       '₹250,000,000 (estimated)', '$923,000 (estimated)',
       '$2,600,000 (estimated)', '€650,000 (estimated)',
       'TRL\xa01,200,000 (estimated)', '$121,000 (estimated)',
       '$900,000 (estimated)', '₹120,000,000 (estimated)',
       '₹180,000,000 (estimated)', '$3,600,000 (estimated)',
       '₹15,000,000 (estimated)', '₹60,500,000 (estimated)',
       '$5,400,000 (estimated)', '$108,000,000 (estimated)',
       '$135,000,000 (estimated)', '$92,000,000 (estimated)',
       '$220,000,000 (estimated)', '$14,000,000 (estimated)',
       '£188,812 (estimated)', '$29,000,000 (estimated)',
       'RUR\xa01,000,000 (estimated)', '$37,000,000 (estimated)',
       '$14,600,000 (estimated)', '$31,000,000 (estimated)',
       '€4,000,000 (estimated)', '¥3,000,000 (estimated)',
       '$110,000,000 (estimated)', '$88,000,000 (estimated)',
       '¥1,100,000,000 (estimated)', '$5,800,000 (estimated)',
       '$795,000 (estimated)', '$980,000 (estimated)',
       '£320,000 (estimated)', '$11,715,578 (estimated)',
       '£12,000,000 (estimated)', '$2,900,000 (estimated)',
       '$829,000 (estimated)', '€5,300,000 (estimated)',
       '$7,500,000 (estimated)', '$6,428,966 (estimated)',
       '¥5,000,000,000 (estimated)', '$18,000 (estimated)',
       'DEM\xa014,000,000 (estimated)', '$3,400,000 (estimated)',
       '£170,000 (estimated)', '$18,026,148 (estimated)',
       '$7,300,000 (estimated)', '€10,000,000 (estimated)',
       '₹40,000,000 (estimated)', '€4,500,000 (estimated)',
       '₹370,000,000 (estimated)', '$565,000 (estimated)',
       '$546,883 (estimated)', 'DEM\xa0260,000 (estimated)',
       'FRF\xa010,000,000 (estimated)', '$12,800,000 (estimated)',
       '$3,500,000 (estimated)', '¥82,540,000 (estimated)',
       'SEK\xa02,800,000 (estimated)', '₹68,600,000 (estimated)',
       '₹12,000,000 (estimated)', '$10,990,000 (estimated)',
       '€2,514,000 (estimated)', '₹130,000,000 (estimated)',
       'FIM\xa046,667,761 (estimated)', '₹320,000,000 (estimated)',
       '$300,000 (estimated)', '$130,000,000 (estimated)',
       '$47,000,000 (estimated)', '$237,000,000 (estimated)',
       '$76,000,000 (estimated)', '$178,000,000 (estimated)',
       '$10,500,000 (estimated)', '£4,000,000 (estimated)',
       '$300,000,000 (estimated)', '$1,020,000 (estimated)',
       '$18,600,000 (estimated)', '$27,500,000 (estimated)',
       '$375,000 (estimated)', '¥330,000,000 (estimated)',
       '$6,500,000 (estimated)', '$120,000,000 (estimated)',
       '$13,282,712 (estimated)', '$17,000,000 (estimated)',
       '$6,244,087 (estimated)', '$8,500,000 (estimated)',
       'ITL\xa02,900,000,000 (estimated)', '$2,240,000 (estimated)',
       '$730,000 (estimated)', '$320,000 (estimated)',
       '$670,000 (estimated)', 'RUR\xa0622,000 (estimated)',
       '$226,408 (estimated)', '$1,164,000 (estimated)',
       '$8,900,000 (estimated)', '$2,125,000 (estimated)',
       '$1,661,530 (estimated)', '$1,680,000 (estimated)',
       '$1,453,000 (estimated)', '¥350,000,000 (estimated)',
       '$656,000 (estimated)', '€590,000 (estimated)',
       '€2,000,000 (estimated)', '$1,250,000 (estimated)',
       '$689,665 (estimated)', 'FRF\xa05,500,500 (estimated)',
       '₹170,000,000 (estimated)', 'DEM\xa0500,000 (estimated)',
       'FRF\xa015,000,000 (estimated)', '$1,210,000 (estimated)',
       '$519,706 (estimated)', '$1,645,000 (estimated)',
       '$1,475,000 (estimated)', '$4,400,000 (estimated)',
       '$55,000 (estimated)', 'FRF\xa0160,000,000 (estimated)',
       '₹350,000,000 (estimated)', 'R$8,500,000 (estimated)',
       '₹30,000,000 (estimated)', '$245,000 (estimated)',
       '₹950,000,000 (estimated)', '€30,000,000 (estimated)',
       'CHF\xa05,000,000 (estimated)', '₹110,000,000 (estimated)',
       '$14,300,000 (estimated)', '$44,000,000 (estimated)',
       '$145,000,000 (estimated)', '$159,000,000 (estimated)',
       '$225,000,000 (estimated)', '£8,000,000 (estimated)',
       '$245,000,000 (estimated)', '₹3,500,000,000 (estimated)',
       '$39,000,000 (estimated)', 'DKK\xa042,000,000 (estimated)',
       '$4,600,000 (estimated)', '$3,750,000 (estimated)',
       '¥800,000,000 (estimated)', '$114,000 (estimated)',
       '$650,000 (estimated)', '$2,650,000 (estimated)',
       '$291,000 (estimated)', '$27,000,000 (estimated)',
       '$310,607 (estimated)', '£600,000 (estimated)',
       '€5,000,000 (estimated)', '$392,000 (estimated)',
       '$1,644,736 (estimated)', '$1,365,000 (estimated)',
       '$397,024 (estimated)', '$944,000 (estimated)',
       '€5,500,000 (estimated)', '$370,000 (estimated)',
       '$1,073,000 (estimated)', '$1,232,000 (estimated)',
       'DKK\xa035,500,000 (estimated)', '$6,700,000 (estimated)',
       '$10,000 (estimated)', '£350,000 (estimated)',
       '$64,000 (estimated)', '€6,500,000 (estimated)',
       '$10,920,000 (estimated)', 'DEM\xa04,300,000 (estimated)',
       '€9,600,000 (estimated)', '$1,558,000 (estimated)',
       'A$800,000 (estimated)', 'R$4,000,000 (estimated)',
       'CA$6,500,000 (estimated)', '$3,950,000 (estimated)',
       '₩15,000,000,000 (estimated)', '₩1,300,000,000 (estimated)',
       '€360,000 (estimated)', 'R$800,000 (estimated)',
       '$3,068,000 (estimated)', '$200 (estimated)',
       '$153,875 (estimated)', '€1,500,000 (estimated)',
       '€1,000,000 (estimated)', '€42,900,000 (estimated)',
       '$291,000,000 (estimated)', '$81,000,000 (estimated)',
       '$65,000,000 (estimated)', '€6,200,000 (estimated)',
       '$85,000,000 (estimated)', '$41,000,000 (estimated)',
       '$260,000,000 (estimated)', '$36,000,000 (estimated)',
       '$21,000,000 (estimated)', '$26,000,000 (estimated)',
       '$12,500,000 (estimated)', '$44,500,000 (estimated)',
       '£280,000 (estimated)', '$75,000,000 (estimated)',
       'ITL\xa030,000,000,000 (estimated)', '$1,600,000 (estimated)',
       '€9,200,000 (estimated)', '$11,200,000 (estimated)',
       '$27,000 (estimated)', '€3,500,000 (estimated)',
       '£23,000,000 (estimated)', '€8,300,000 (estimated)',
       '€18,000,000 (estimated)', '¥300,000,000 (estimated)',
       '$450,000 (estimated)', '$1,750,000 (estimated)',
       '€4,800,000 (estimated)', '$2,280,000 (estimated)',
       'ESP\xa0370,000,000 (estimated)', '$4,240,000 (estimated)',
       'FRF\xa0400,000 (estimated)', '$2,300,000 (estimated)',
       '€7,687,148 (estimated)', '$1,720,000 (estimated)',
       '$417,000 (estimated)', '$4,200,000 (estimated)',
       'SEK\xa022,000,000 (estimated)', '£430,000 (estimated)',
       '$343,000 (estimated)', '$2,295,304 (estimated)',
       '$1,688,000 (estimated)', '€7,000,000 (estimated)',
       '$9,500,000 (estimated)', '$433,000 (estimated)',
       '$1,271,000 (estimated)', '$1,202,007 (estimated)',
       'DEM\xa01,975,000 (estimated)', '$385,907 (estimated)',
       '£87,000 (estimated)', 'FRF\xa0250,000 (estimated)',
       '$609,000 (estimated)', '$952,000 (estimated)',
       'PLN\xa06,070,000 (estimated)', '£1,000,000 (estimated)',
       '$217,000 (estimated)', '$5,900,000 (estimated)',
       '£153,756 (estimated)', '$1,135,654 (estimated)',
       'DEM\xa0680,000 (estimated)', '$60,000 (estimated)',
       '$1,631,000 (estimated)', '₹420,000,000 (estimated)',
       '$1,750,211 (estimated)', '$7,100,000 (estimated)',
       '₹400,000,000 (estimated)', 'FRF\xa075,210,000 (estimated)',
       '$6,900,000 (estimated)', '$32,000,000 (estimated)',
       '$68,000,000 (estimated)', '$113,000,000 (estimated)',
       '€10,002,914 (estimated)', '$6,200,000 (estimated)',
       '$69,000,000 (estimated)', '$16,500,000 (estimated)',
       '£25,000,000 (estimated)', '$1,499,000 (estimated)',
       '$850,000 (estimated)', '$1,100,000 (estimated)',
       '$34,000,000 (estimated)', '€4,993,020 (estimated)',
       '$1,650,000 (estimated)', '£1,577,000 (estimated)',
       '$880,000 (estimated)', '$1,700,000 (estimated)',
       '$3,100,000 (estimated)', 'DEM\xa03,500,000 (estimated)',
       '£135,000 (estimated)', '$7,700,000 (estimated)',
       '€12,113,000 (estimated)', '$17,300,000 (estimated)',
       'A$1,000,000 (estimated)', '$2,238,813 (estimated)',
       '€18,151,814 (estimated)', '$56,600,000 (estimated)',
       '€7,450,000 (estimated)', '$81,200,000 (estimated)',
       '£120,000 (estimated)', 'SEK\xa02,000,000 (estimated)',
       '€1,300,000 (estimated)', '$640,000 (estimated)',
       '$188,000 (estimated)', '£50,000 (estimated)',
       '$4,041,000 (estimated)', '$1,590,000 (estimated)',
       '$328,033 (estimated)', '£250,000 (estimated)',
       'THB\xa060,000,000 (estimated)', '£2,000,000 (estimated)',
       'NLG\xa05,000,000 (estimated)', '$783,000 (estimated)',
       '$780,000 (estimated)', '$535,000 (estimated)',
       '$1,344,000 (estimated)', '$930,000 (estimated)',
       'R$12,000,000 (estimated)', '$1,950,000 (estimated)',
       'FRF\xa082,000,000 (estimated)', '$778,000 (estimated)',
       'FIM\xa08,000,000 (estimated)', '$120,000 (estimated)',
       '₩30,000,000,000 (estimated)', 'HUF\xa0100,000,000 (estimated)',
       'FRF\xa017,500,000 (estimated)', 'ITL\xa070,000,000 (estimated)',
       '€3,238,460 (estimated)', 'DEM\xa0450,000 (estimated)',
       '$50,000 (estimated)', '$683,000 (estimated)',
       '₹5,000,000,000 (estimated)', '¥120,000,000 (estimated)',
       '€2,405,039 (estimated)', '$53,000 (estimated)',
       'FRF\xa07,000,000 (estimated)', 'DEM\xa02,600,000 (estimated)',
       '£143,000 (estimated)', 'FIM\xa05,562,154 (estimated)',
       'FIM\xa023,500,000 (estimated)', 'DEM\xa05,000,000 (estimated)',
       '€1,250,000 (estimated)', 'PLN\xa010,000,000 (estimated)',
       '₹390,000,000 (estimated)', '$105,000 (estimated)',
       '₹55,000,000 (estimated)', '€1,200,000 (estimated)',
       'TRL\xa021,000,000 (estimated)', 'CA$8,000,000 (estimated)',
       'CA$100,000 (estimated)', '₹185,000,000 (estimated)',
       '€1,440,000 (estimated)', 'CN¥10,000,000 (estimated)',
       '$168,000,000 (estimated)', '$84,000,000 (estimated)',
       '$350,000,000 (estimated)', '$57,000,000 (estimated)',
       '$59,000,000 (estimated)', 'ATS\xa070,000,000 (estimated)',
       '$23,600,000 (estimated)', '$810,000 (estimated)',
       '$53,000,000 (estimated)', 'DEM\xa04,000,000 (estimated)',
       '¥1,000,000 (estimated)', '$4,653,000 (estimated)',
       '$67,000,000 (estimated)', '$820,000 (estimated)',
       '$5,300,000 (estimated)', '£695,393 (estimated)',
       '$175,000 (estimated)', '£1,100,000 (estimated)',
       '$941,000 (estimated)', 'FRF\xa080,000,000 (estimated)',
       '$11,100,000 (estimated)', '€3,900,000 (estimated)',
       '₩4,200,000,000 (estimated)', 'FRF\xa024,000,000 (estimated)',
       '€9,000,000 (estimated)', 'NOK\xa030,300,000 (estimated)',
       '€4,300,000 (estimated)', '$560,000 (estimated)',
       '€11,700,000 (estimated)', 'DEM\xa020,000,000 (estimated)',
       '$5,019,770 (estimated)', 'CN¥100,000,000 (estimated)',
       '$787,000 (estimated)', 'SEK\xa09,000,000 (estimated)',
       '$1,696,377 (estimated)', '$455,000 (estimated)',
       '$410,000 (estimated)', '$1,050,000 (estimated)',
       '$30,000 (estimated)', '$12,902,809 (estimated)',
       '$2,235,000 (estimated)', '€5,200,000 (estimated)',
       'CA$13,000,000 (estimated)', 'DKK\xa028,000,000 (estimated)',
       '$5,355,000 (estimated)', '$240,000 (estimated)',
       'CA$26,000,000 (estimated)', '$720,000 (estimated)',
       '$435,000 (estimated)', 'CA$4,000,000 (estimated)',
       '€9,474,971 (estimated)', 'FRF\xa0100,000,000 (estimated)',
       'DEM\xa0325,000 (estimated)', '$3,257,000 (estimated)',
       '€4,200,000 (estimated)', 'SEK\xa0484,000 (estimated)',
       'SEK\xa025,000,000 (estimated)', '$1,705,000 (estimated)',
       '₹45,000,000 (estimated)', '$2,388,000 (estimated)',
       '$187,000 (estimated)', '$160,000 (estimated)',
       'TRL\xa0170,000 (estimated)', '$1,383,578 (estimated)',
       'NOK\xa015,500,000 (estimated)', '$21,500,000 (estimated)',
       '$1,114,000 (estimated)', '$2,016,000 (estimated)',
       '$1,920,000 (estimated)', '$100,000 (estimated)',
       '£100,000 (estimated)', '£2,500,000 (estimated)',
       '£1,456,000 (estimated)', '$886,000 (estimated)',
       'CA$6,000,000 (estimated)', '€3,100,000 (estimated)',
       '€3,800,000 (estimated)', 'SEK\xa0434,000 (estimated)',
       '$1,595,000 (estimated)', 'NT$50,000,000 (estimated)',
       'FRF\xa025,000,000 (estimated)', '$220,000 (estimated)',
       '€2,400,000 (estimated)', '€4,773,906 (estimated)',
       'HUF\xa0450,000,000 (estimated)', '₹210,000,000 (estimated)',
       'PKR\xa0180,000,000 (estimated)', '$301,681 (estimated)',
       'A$2,500,000 (estimated)', '$703,000 (estimated)',
       'EGP\xa018,000,000 (estimated)', 'CN¥30,000,000 (estimated)',
       'NOK\xa021,277,000 (estimated)', '€40,000 (estimated)',
       'IRR\xa04,000,000,000 (estimated)', 'LTL\xa01,000,000 (estimated)',
       '$22,500,000 (estimated)', '$5,100,000 (estimated)',
       '$139,000,000 (estimated)', '£200,000 (estimated)',
       '$129,000,000 (estimated)', '$140,000 (estimated)',
       '$6,420,000 (estimated)', 'MVR\xa0400,000,000 (estimated)',
       '€15,550,182 (estimated)', '$19,400,000 (estimated)',
       '$24,500,000 (estimated)', '$82,000,000 (estimated)',
       '$3,251,794 (estimated)', '$14,100,000 (estimated)',
       '€3,400,000 (estimated)', '$355,000 (estimated)',
       '$6,000 (estimated)', '$1,683,000 (estimated)',
       'A$440,000 (estimated)', '$8,300,000 (estimated)',
       '$4,550,000 (estimated)', 'CA$5,000,000 (estimated)',
       '$43,000,000 (estimated)', '$5,860,000 (estimated)',
       '£612,650 (estimated)', 'DEM\xa042,000,000 (estimated)',
       'A$2,600,000 (estimated)', 'BEF\xa01,000,000 (estimated)',
       'DKK\xa039,000,000 (estimated)', '€2,800,000 (estimated)',
       '$130,000 (estimated)', '$1,685,000 (estimated)',
       '€721,214 (estimated)', 'CA$2,500,000 (estimated)',
       'DEM\xa03,000,000 (estimated)', '$90,000 (estimated)',

In [11]:
# Step 1: Check unique values in 'Budget'
print("Unique values before cleaning:")
print(df['Budget'].unique())

# Step 2: Clean the 'Budget' column by removing currency symbols and non-numeric characters
df['Budget'] = df['Budget'].replace({
    r'\$': '', r'₹': '', r'€': '', r'R\$': '', r'BDT\xa0': '', r'PKR\xa0': '', r'¥': '', r'HK\$': '',
    r'€': '', r'HUF\xa0': '', r'THB\xa0': '', r',': '', r' \(estimated\)': ''
}, regex=True)

# Step 3: Convert the cleaned values to numeric, invalid parsing will result in NaN
df['Budget'] = pd.to_numeric(df['Budget'], errors='coerce')

# Step 4: Handle missing values by filling NaN with the mean of the column
mean_value = df['Budget'].mean()  # Calculate the mean
df['Budget'] = df['Budget'].fillna(mean_value).astype(int)

# Check the cleaned column and its unique values
print("\nUnique values after cleaning:")
print(df['Budget'].unique())

Unique values before cleaning:
['$25,000,000 (estimated)' nan '$6,000,000 (estimated)'
 '$185,000,000 (estimated)' '$22,000,000 (estimated)'
 '$350,000 (estimated)' '$13,000,000 (estimated)'
 '$94,000,000 (estimated)' '$93,000,000 (estimated)'
 '$8,000,000 (estimated)' 'R$8,000,000 (estimated)'
 'BDT\xa035,000,000 (estimated)' '$160,000,000 (estimated)'
 '$63,000,000 (estimated)' '$55,000,000 (estimated)'
 '$1,200,000 (estimated)' '$165,000,000 (estimated)'
 '$3,000,000 (estimated)' '$18,000,000 (estimated)'
 '₹150,000,000 (estimated)' '₹10,000,000 (estimated)'
 '₹600,000,000 (estimated)' '₹25,000,000 (estimated)'
 '₹70,000,000 (estimated)' '₹9,800,000 (estimated)'
 '$33,000,000 (estimated)' '$19,000,000 (estimated)'
 '$3,180,000 (estimated)' '$150,000,000 (estimated)'
 '$70,000,000 (estimated)' '$60,000,000 (estimated)'
 'R$3,300,000 (estimated)' '$102,000,000 (estimated)'
 '$11,000,000 (estimated)' '$20,000,000 (estimated)'
 '¥125,000,000 (estimated)' '₹200,000,000 (estimated)'
 'PKR\xa0700,000,000 (estimated)' '$103,000,000 (estimated)'
 '$190,000,000 (estimated)' '$100,000,000 (estimated)'
 '$11,400,000 (estimated)' '$3,300,000 (estimated)'
 '$90,000,000 (estimated)' '$16,000,000 (estimated)'
 '$40,000,000 (estimated)' '$806,947 (estimated)'
 '$45,000,000 (estimated)' '$35,000,000 (estimated)'
 '€9,500,000 (estimated)' '$3,700,000 (estimated)' '$950,000 (estimated)'
 '$5,000,000 (estimated)' '$1,000,000 (estimated)'
 '$1,500,000 (estimated)' '$2,000,000 (estimated)'
 '₹3,000,000 (estimated)' '$1,930,000 (estimated)'
 '₹5,000,000 (estimated)' '$250,000,000 (estimated)'
 '$356,000,000 (estimated)' '$18,500,000 (estimated)'
 '$31,500,000 (estimated)' '$9,000,000 (estimated)'
 '$321,000,000 (estimated)' '$175,000,000 (estimated)'
 '$180,000,000 (estimated)' '¥370,000,000 (estimated)'
 '$1,752,000 (estimated)' '$4,000,000 (estimated)'
 'DEM\xa032,000,000 (estimated)' '₹550,000,000 (estimated)'
 '$935,000 (estimated)' '¥230,000,000 (estimated)'
 '₹240,000,000 (estimated)' '$3,650,000 (estimated)'
 'ROL\xa033,000,000 (estimated)' '₹50,000,000 (estimated)'
 '₹21,000,000 (estimated)' '$78,000,000 (estimated)'
 '$10,000,000 (estimated)' '$4,500,000 (estimated)'
 '$15,000,000 (estimated)' '$72,000,000 (estimated)'
 '$50,000,000 (estimated)' 'DKK\xa020,000,000 (estimated)'
 '$12,000,000 (estimated)' '$30,000,000 (estimated)'
 '$6,800,000 (estimated)' '$1,800,000 (estimated)'
 '$32,500,000 (estimated)' '¥2,400,000,000 (estimated)'
 '$927,262 (estimated)' '$3,101,000 (estimated)'
 '$200,000,000 (estimated)' 'DEM\xa06,000,000 (estimated)'
 '$839,727 (estimated)' '$2,479,000 (estimated)' '$2,540,800 (estimated)'
 '$5,500,000 (estimated)' '$500,000 (estimated)'
 '₹700,000,000 (estimated)' 'RUR\xa08,000,000 (estimated)'
 '$133,000 (estimated)' '₹1,500,000,000 (estimated)'
 '₹35,000,000 (estimated)' '$700,000 (estimated)'
 '₹100,000,000 (estimated)' '₹300,000,000 (estimated)'
 'RUR\xa025,313 (estimated)' '₹280,000,000 (estimated)'
 '$20,000 (estimated)' '₹80,000,000 (estimated)' '₹5,100,000 (estimated)'
 '₹991,000 (estimated)' '$400,000 (estimated)'
 'LKR\xa0130,000,000 (estimated)' '$170,000,000 (estimated)'
 '$28,000,000 (estimated)' '$46,000,000 (estimated)'
 '$80,000,000 (estimated)' '$1,300,000 (estimated)'
 '$95,000,000 (estimated)' '$14,400,000 (estimated)'
 '$23,000,000 (estimated)' '£6,000,000 (estimated)'
 '$2,200,000 (estimated)' '$52,000,000 (estimated)'
 '$58,000,000 (estimated)' '$24,000,000 (estimated)'
 '$48,000,000 (estimated)' '€13,500,000 (estimated)'
 '$3,977,000 (estimated)' '£229,575 (estimated)' '$2,883,848 (estimated)'
 '$11,500,000 (estimated)' '$600,000 (estimated)' '$1,400,000 (estimated)'
 '$250,000 (estimated)' '₹500,000,000 (estimated)' '$180,000 (estimated)'
 '$9,400,000 (estimated)' '₹1,000,000,000 (estimated)'
 '₹410,000,000 (estimated)' 'FRF\xa020,000,000 (estimated)'
 '₹450,000,000 (estimated)' '₹800,000,000 (estimated)'
 '₹184,000,000 (estimated)' '₹2,500,000,000 (estimated)'
 'TRL\xa02,000,000 (estimated)' '$195,845 (estimated)'
 '€1,991,181 (estimated)' '₹140,000,000 (estimated)'
 '₹60,000,000 (estimated)' '₹7,500,000 (estimated)'
 '₹20,000,000 (estimated)' '₹11,000,000 (estimated)'
 'CA$200,000 (estimated)' '₹8,000,000 (estimated)'
 'BDT\xa036,000,000 (estimated)' '$2,777,000 (estimated)'
 '$140,000,000 (estimated)' '$125,000,000 (estimated)'
 '$97,000,000 (estimated)' '$16,400,000 (estimated)'
 '$6,400,000 (estimated)' '$61,000,000 (estimated)'
 '₩10,000,000,000 (estimated)' '$8,200,000 (estimated)'
 '$960,000 (estimated)' '$54,000,000 (estimated)' '$7,000,000 (estimated)'
 '£1,500,000 (estimated)' '$97,600,000 (estimated)'
 '£1,162,000 (estimated)' '$2,800,000 (estimated)'
 '$38,000,000 (estimated)' '$115,000,000 (estimated)'
 '$2,500,000 (estimated)' '£960,000 (estimated)' '€4,860,000 (estimated)'
 '€2,590,000 (estimated)' '$150,000 (estimated)' '$2,700,000 (estimated)'
 '$910,000 (estimated)' '$3,800,000 (estimated)' '$1,288,000 (estimated)'
 '£500,000 (estimated)' 'A$8,240,000 (estimated)' '$2,100,000 (estimated)'
 '$17,500,000 (estimated)' '$3,200,000 (estimated)' '$325,000 (estimated)'
 '$800,000 (estimated)' '$1,900,000 (estimated)' '$200,000 (estimated)'
 '$750,000 (estimated)' '₹250,000,000 (estimated)' '$923,000 (estimated)'
 '$2,600,000 (estimated)' '€650,000 (estimated)'
 'TRL\xa01,200,000 (estimated)' '$121,000 (estimated)'
 '$900,000 (estimated)' '₹120,000,000 (estimated)'
 '₹180,000,000 (estimated)' '$3,600,000 (estimated)'
 '₹15,000,000 (estimated)' '₹60,500,000 (estimated)'
 '$5,400,000 (estimated)' '$108,000,000 (estimated)'
 '$135,000,000 (estimated)' '$92,000,000 (estimated)'
 '$220,000,000 (estimated)' '$14,000,000 (estimated)'
 '£188,812 (estimated)' '$29,000,000 (estimated)'
 'RUR\xa01,000,000 (estimated)' '$37,000,000 (estimated)'
 '$14,600,000 (estimated)' '$31,000,000 (estimated)'
 '€4,000,000 (estimated)' '¥3,000,000 (estimated)'
 '$110,000,000 (estimated)' '$88,000,000 (estimated)'
 '¥1,100,000,000 (estimated)' '$5,800,000 (estimated)'
 '$795,000 (estimated)' '$980,000 (estimated)' '£320,000 (estimated)'
 '$11,715,578 (estimated)' '£12,000,000 (estimated)'
 '$2,900,000 (estimated)' '$829,000 (estimated)' '€5,300,000 (estimated)'
 '$7,500,000 (estimated)' '$6,428,966 (estimated)'
 '¥5,000,000,000 (estimated)' '$18,000 (estimated)'
 'DEM\xa014,000,000 (estimated)' '$3,400,000 (estimated)'
 '£170,000 (estimated)' '$18,026,148 (estimated)' '$7,300,000 (estimated)'
 '€10,000,000 (estimated)' '₹40,000,000 (estimated)'
 '€4,500,000 (estimated)' '₹370,000,000 (estimated)'
 '$565,000 (estimated)' '$546,883 (estimated)'
 'DEM\xa0260,000 (estimated)' 'FRF\xa010,000,000 (estimated)'
 '$12,800,000 (estimated)' '$3,500,000 (estimated)'
 '¥82,540,000 (estimated)' 'SEK\xa02,800,000 (estimated)'
 '₹68,600,000 (estimated)' '₹12,000,000 (estimated)'
 '$10,990,000 (estimated)' '€2,514,000 (estimated)'
 '₹130,000,000 (estimated)' 'FIM\xa046,667,761 (estimated)'
 '₹320,000,000 (estimated)' '$300,000 (estimated)'
 '$130,000,000 (estimated)' '$47,000,000 (estimated)'
 '$237,000,000 (estimated)' '$76,000,000 (estimated)'
 '$178,000,000 (estimated)' '$10,500,000 (estimated)'
 '£4,000,000 (estimated)' '$300,000,000 (estimated)'
 '$1,020,000 (estimated)' '$18,600,000 (estimated)'
 '$27,500,000 (estimated)' '$375,000 (estimated)'
 '¥330,000,000 (estimated)' '$6,500,000 (estimated)'
 '$120,000,000 (estimated)' '$13,282,712 (estimated)'
 '$17,000,000 (estimated)' '$6,244,087 (estimated)'
 '$8,500,000 (estimated)' 'ITL\xa02,900,000,000 (estimated)'
 '$2,240,000 (estimated)' '$730,000 (estimated)' '$320,000 (estimated)'
 '$670,000 (estimated)' 'RUR\xa0622,000 (estimated)'
 '$226,408 (estimated)' '$1,164,000 (estimated)' '$8,900,000 (estimated)'
 '$2,125,000 (estimated)' '$1,661,530 (estimated)'
 '$1,680,000 (estimated)' '$1,453,000 (estimated)'
 '¥350,000,000 (estimated)' '$656,000 (estimated)' '€590,000 (estimated)'
 '€2,000,000 (estimated)' '$1,250,000 (estimated)' '$689,665 (estimated)'
 'FRF\xa05,500,500 (estimated)' '₹170,000,000 (estimated)'
 'DEM\xa0500,000 (estimated)' 'FRF\xa015,000,000 (estimated)'
 '$1,210,000 (estimated)' '$519,706 (estimated)' '$1,645,000 (estimated)'
 '$1,475,000 (estimated)' '$4,400,000 (estimated)' '$55,000 (estimated)'
 'FRF\xa0160,000,000 (estimated)' '₹350,000,000 (estimated)'
 'R$8,500,000 (estimated)' '₹30,000,000 (estimated)'
 '$245,000 (estimated)' '₹950,000,000 (estimated)'
 '€30,000,000 (estimated)' 'CHF\xa05,000,000 (estimated)'
 '₹110,000,000 (estimated)' '$14,300,000 (estimated)'
 '$44,000,000 (estimated)' '$145,000,000 (estimated)'
 '$159,000,000 (estimated)' '$225,000,000 (estimated)'
 '£8,000,000 (estimated)' '$245,000,000 (estimated)'
 '₹3,500,000,000 (estimated)' '$39,000,000 (estimated)'
 'DKK\xa042,000,000 (estimated)' '$4,600,000 (estimated)'
 '$3,750,000 (estimated)' '¥800,000,000 (estimated)'
 '$114,000 (estimated)' '$650,000 (estimated)' '$2,650,000 (estimated)'
 '$291,000 (estimated)' '$27,000,000 (estimated)' '$310,607 (estimated)'
 '£600,000 (estimated)' '€5,000,000 (estimated)' '$392,000 (estimated)'
 '$1,644,736 (estimated)' '$1,365,000 (estimated)' '$397,024 (estimated)'
 '$944,000 (estimated)' '€5,500,000 (estimated)' '$370,000 (estimated)'
 '$1,073,000 (estimated)' '$1,232,000 (estimated)'
 'DKK\xa035,500,000 (estimated)' '$6,700,000 (estimated)'
 '$10,000 (estimated)' '£350,000 (estimated)' '$64,000 (estimated)'
 '€6,500,000 (estimated)' '$10,920,000 (estimated)'
 'DEM\xa04,300,000 (estimated)' '€9,600,000 (estimated)'
 '$1,558,000 (estimated)' 'A$800,000 (estimated)'
 'R$4,000,000 (estimated)' 'CA$6,500,000 (estimated)'
 '$3,950,000 (estimated)' '₩15,000,000,000 (estimated)'
 '₩1,300,000,000 (estimated)' '€360,000 (estimated)'
 'R$800,000 (estimated)' '$3,068,000 (estimated)' '$200 (estimated)'
 '$153,875 (estimated)' '€1,500,000 (estimated)' '€1,000,000 (estimated)'
 '€42,900,000 (estimated)' '$291,000,000 (estimated)'
 '$81,000,000 (estimated)' '$65,000,000 (estimated)'
 '€6,200,000 (estimated)' '$85,000,000 (estimated)'
 '$41,000,000 (estimated)' '$260,000,000 (estimated)'
 '$36,000,000 (estimated)' '$21,000,000 (estimated)'
 '$26,000,000 (estimated)' '$12,500,000 (estimated)'
 '$44,500,000 (estimated)' '£280,000 (estimated)'
 '$75,000,000 (estimated)' 'ITL\xa030,000,000,000 (estimated)'
 '$1,600,000 (estimated)' '€9,200,000 (estimated)'
 '$11,200,000 (estimated)' '$27,000 (estimated)' '€3,500,000 (estimated)'
 '£23,000,000 (estimated)' '€8,300,000 (estimated)'
 '€18,000,000 (estimated)' '¥300,000,000 (estimated)'
 '$450,000 (estimated)' '$1,750,000 (estimated)' '€4,800,000 (estimated)'
 '$2,280,000 (estimated)' 'ESP\xa0370,000,000 (estimated)'
 '$4,240,000 (estimated)' 'FRF\xa0400,000 (estimated)'
 '$2,300,000 (estimated)' '€7,687,148 (estimated)'
 '$1,720,000 (estimated)' '$417,000 (estimated)' '$4,200,000 (estimated)'
 'SEK\xa022,000,000 (estimated)' '£430,000 (estimated)'
 '$343,000 (estimated)' '$2,295,304 (estimated)' '$1,688,000 (estimated)'
 '€7,000,000 (estimated)' '$9,500,000 (estimated)' '$433,000 (estimated)'
 '$1,271,000 (estimated)' '$1,202,007 (estimated)'
 'DEM\xa01,975,000 (estimated)' '$385,907 (estimated)'
 '£87,000 (estimated)' 'FRF\xa0250,000 (estimated)' '$609,000 (estimated)'
 '$952,000 (estimated)' 'PLN\xa06,070,000 (estimated)'
 '£1,000,000 (estimated)' '$217,000 (estimated)' '$5,900,000 (estimated)'
 '£153,756 (estimated)' '$1,135,654 (estimated)'
 'DEM\xa0680,000 (estimated)' '$60,000 (estimated)'
 '$1,631,000 (estimated)' '₹420,000,000 (estimated)'
 '$1,750,211 (estimated)' '$7,100,000 (estimated)'
 '₹400,000,000 (estimated)' 'FRF\xa075,210,000 (estimated)'
 '$6,900,000 (estimated)' '$32,000,000 (estimated)'
 '$68,000,000 (estimated)' '$113,000,000 (estimated)'
 '€10,002,914 (estimated)' '$6,200,000 (estimated)'
 '$69,000,000 (estimated)' '$16,500,000 (estimated)'
 '£25,000,000 (estimated)' '$1,499,000 (estimated)' '$850,000 (estimated)'
 '$1,100,000 (estimated)' '$34,000,000 (estimated)'
 '€4,993,020 (estimated)' '$1,650,000 (estimated)'
 '£1,577,000 (estimated)' '$880,000 (estimated)' '$1,700,000 (estimated)'
 '$3,100,000 (estimated)' 'DEM\xa03,500,000 (estimated)'
 '£135,000 (estimated)' '$7,700,000 (estimated)' '€12,113,000 (estimated)'
 '$17,300,000 (estimated)' 'A$1,000,000 (estimated)'
 '$2,238,813 (estimated)' '€18,151,814 (estimated)'
 '$56,600,000 (estimated)' '€7,450,000 (estimated)'
 '$81,200,000 (estimated)' '£120,000 (estimated)'
 'SEK\xa02,000,000 (estimated)' '€1,300,000 (estimated)'
 '$640,000 (estimated)' '$188,000 (estimated)' '£50,000 (estimated)'
 '$4,041,000 (estimated)' '$1,590,000 (estimated)' '$328,033 (estimated)'
 '£250,000 (estimated)' 'THB\xa060,000,000 (estimated)'
 '£2,000,000 (estimated)' 'NLG\xa05,000,000 (estimated)'
 '$783,000 (estimated)' '$780,000 (estimated)' '$535,000 (estimated)'
 '$1,344,000 (estimated)' '$930,000 (estimated)'
 'R$12,000,000 (estimated)' '$1,950,000 (estimated)'
 'FRF\xa082,000,000 (estimated)' '$778,000 (estimated)'
 'FIM\xa08,000,000 (estimated)' '$120,000 (estimated)'
 '₩30,000,000,000 (estimated)' 'HUF\xa0100,000,000 (estimated)'
 'FRF\xa017,500,000 (estimated)' 'ITL\xa070,000,000 (estimated)'
 '€3,238,460 (estimated)' 'DEM\xa0450,000 (estimated)'
 '$50,000 (estimated)' '$683,000 (estimated)' '₹5,000,000,000 (estimated)'
 '¥120,000,000 (estimated)' '€2,405,039 (estimated)' '$53,000 (estimated)'
 'FRF\xa07,000,000 (estimated)' 'DEM\xa02,600,000 (estimated)'
 '£143,000 (estimated)' 'FIM\xa05,562,154 (estimated)'
 'FIM\xa023,500,000 (estimated)' 'DEM\xa05,000,000 (estimated)'
 '€1,250,000 (estimated)' 'PLN\xa010,000,000 (estimated)'
 '₹390,000,000 (estimated)' '$105,000 (estimated)'
 '₹55,000,000 (estimated)' '€1,200,000 (estimated)'
 'TRL\xa021,000,000 (estimated)' 'CA$8,000,000 (estimated)'
 'CA$100,000 (estimated)' '₹185,000,000 (estimated)'
 '€1,440,000 (estimated)' 'CN¥10,000,000 (estimated)'
 '$168,000,000 (estimated)' '$84,000,000 (estimated)'
 '$350,000,000 (estimated)' '$57,000,000 (estimated)'
 '$59,000,000 (estimated)' 'ATS\xa070,000,000 (estimated)'
 '$23,600,000 (estimated)' '$810,000 (estimated)'
 '$53,000,000 (estimated)' 'DEM\xa04,000,000 (estimated)'
 '¥1,000,000 (estimated)' '$4,653,000 (estimated)'
 '$67,000,000 (estimated)' '$820,000 (estimated)' '$5,300,000 (estimated)'
 '£695,393 (estimated)' '$175,000 (estimated)' '£1,100,000 (estimated)'
 '$941,000 (estimated)' 'FRF\xa080,000,000 (estimated)'
 '$11,100,000 (estimated)' '€3,900,000 (estimated)'
 '₩4,200,000,000 (estimated)' 'FRF\xa024,000,000 (estimated)'
 '€9,000,000 (estimated)' 'NOK\xa030,300,000 (estimated)'
 '€4,300,000 (estimated)' '$560,000 (estimated)' '€11,700,000 (estimated)'
 'DEM\xa020,000,000 (estimated)' '$5,019,770 (estimated)'
 'CN¥100,000,000 (estimated)' '$787,000 (estimated)'
 'SEK\xa09,000,000 (estimated)' '$1,696,377 (estimated)'
 '$455,000 (estimated)' '$410,000 (estimated)' '$1,050,000 (estimated)'
 '$30,000 (estimated)' '$12,902,809 (estimated)' '$2,235,000 (estimated)'
 '€5,200,000 (estimated)' 'CA$13,000,000 (estimated)'
 'DKK\xa028,000,000 (estimated)' '$5,355,000 (estimated)'
 '$240,000 (estimated)' 'CA$26,000,000 (estimated)' '$720,000 (estimated)'
 '$435,000 (estimated)' 'CA$4,000,000 (estimated)'
 '€9,474,971 (estimated)' 'FRF\xa0100,000,000 (estimated)'
 'DEM\xa0325,000 (estimated)' '$3,257,000 (estimated)'
 '€4,200,000 (estimated)' 'SEK\xa0484,000 (estimated)'
 'SEK\xa025,000,000 (estimated)' '$1,705,000 (estimated)'
 '₹45,000,000 (estimated)' '$2,388,000 (estimated)' '$187,000 (estimated)'
 '$160,000 (estimated)' 'TRL\xa0170,000 (estimated)'
 '$1,383,578 (estimated)' 'NOK\xa015,500,000 (estimated)'
 '$21,500,000 (estimated)' '$1,114,000 (estimated)'
 '$2,016,000 (estimated)' '$1,920,000 (estimated)' '$100,000 (estimated)'
 '£100,000 (estimated)' '£2,500,000 (estimated)' '£1,456,000 (estimated)'
 '$886,000 (estimated)' 'CA$6,000,000 (estimated)'
 '€3,100,000 (estimated)' '€3,800,000 (estimated)'
 'SEK\xa0434,000 (estimated)' '$1,595,000 (estimated)'
 'NT$50,000,000 (estimated)' 'FRF\xa025,000,000 (estimated)'
 '$220,000 (estimated)' '€2,400,000 (estimated)' '€4,773,906 (estimated)'
 'HUF\xa0450,000,000 (estimated)' '₹210,000,000 (estimated)'
 'PKR\xa0180,000,000 (estimated)' '$301,681 (estimated)'
 'A$2,500,000 (estimated)' '$703,000 (estimated)'
 'EGP\xa018,000,000 (estimated)' 'CN¥30,000,000 (estimated)'
 'NOK\xa021,277,000 (estimated)' '€40,000 (estimated)'
 'IRR\xa04,000,000,000 (estimated)' 'LTL\xa01,000,000 (estimated)'
 '$22,500,000 (estimated)' '$5,100,000 (estimated)'
 '$139,000,000 (estimated)' '£200,000 (estimated)'
 '$129,000,000 (estimated)' '$140,000 (estimated)'
 '$6,420,000 (estimated)' 'MVR\xa0400,000,000 (estimated)'
 '€15,550,182 (estimated)' '$19,400,000 (estimated)'
 '$24,500,000 (estimated)' '$82,000,000 (estimated)'
 '$3,251,794 (estimated)' '$14,100,000 (estimated)'
 '€3,400,000 (estimated)' '$355,000 (estimated)' '$6,000 (estimated)'
 '$1,683,000 (estimated)' 'A$440,000 (estimated)' '$8,300,000 (estimated)'
 '$4,550,000 (estimated)' 'CA$5,000,000 (estimated)'
 '$43,000,000 (estimated)' '$5,860,000 (estimated)' '£612,650 (estimated)'
 'DEM\xa042,000,000 (estimated)' 'A$2,600,000 (estimated)'
 'BEF\xa01,000,000 (estimated)' 'DKK\xa039,000,000 (estimated)'
 '€2,800,000 (estimated)' '$130,000 (estimated)' '$1,685,000 (estimated)'
 '€721,214 (estimated)' 'CA$2,500,000 (estimated)'
 'DEM\xa03,000,000 (estimated)' '$90,000 (estimated)'
 '$4,300,000 (estimated)' '€18,700,000 (estimated)' '$813,000 (estimated)'
 'R$2,500,000 (estimated)' '$1,168,000 (estimated)'
 '$8,600,000 (estimated)' '¥2,000,000,000 (estimated)'
 '$2,169,120 (estimated)' 'SEK\xa017,000,000 (estimated)'
 '€3,000,000 (estimated)' '$275,000 (estimated)' '$1,520,000 (estimated)'
 '$1,910,000 (estimated)' '£121,602 (estimated)'
 '₹1,350,000,000 (estimated)' 'CA$800,000 (estimated)'
 '€21,166,000 (estimated)' '$210,000 (estimated)' '$65,000 (estimated)'
 '€5,383,899 (estimated)' 'FRF\xa0890,063 (estimated)'
 '€8,000,000 (estimated)' 'FRF\xa018,000,000 (estimated)'
 '€19,750,000 (estimated)' 'NOK\xa054,000,000 (estimated)'
 'EGP\xa025,000,000 (estimated)' '$5,600,000 (estimated)'
 '¥234,000,000 (estimated)' '$808,397 (estimated)' '£202,400 (estimated)'
 'ITL\xa0700,000,000 (estimated)' '€2,500,000 (estimated)'
 '$8,800,000 (estimated)' '$520,000 (estimated)' '$928,000 (estimated)'
 '£1,800,000 (estimated)' '₹1,200,000,000 (estimated)'
 '$1,290,000 (estimated)' 'R$1,200,000 (estimated)'
 'MX$25,000,000 (estimated)' '$243,000 (estimated)'
 '€2,440,000 (estimated)' '$991,000 (estimated)' '€3,600,000 (estimated)'
 'NZ$7,000,000 (estimated)' 'NZ$3,500,000 (estimated)'
 '€3,674,000 (estimated)' '€1,400,000 (estimated)'
 '$1,370,000 (estimated)' '₹220,000,000 (estimated)'
 '€390,000 (estimated)' 'CA$1,960,000 (estimated)'
 '€2,300,000 (estimated)' '$85,900,000 (estimated)'
 '$205,000,000 (estimated)' '$105,000,000 (estimated)'
 '$149,000,000 (estimated)' '$58,800,000 (estimated)'
 '$10,700,000 (estimated)' '$3,352,254 (estimated)'
 '$11,800,000 (estimated)' '€12,300,000 (estimated)'
 '$7,920,000 (estimated)' '$62,000,000 (estimated)'
 'DKK\xa06,000,000 (estimated)' '€13,049,974 (estimated)'
 'A$8,500,000 (estimated)' 'FRF\xa050,000,000 (estimated)'
 '$4,100,000 (estimated)' '$2,540,000 (estimated)'
 '$87,000,000 (estimated)' '$10,900,000 (estimated)'
 '£3,000,000 (estimated)' '$858,000 (estimated)' '¥80,000,000 (estimated)'
 '£750,000 (estimated)' '€5,800,000 (estimated)'
 'DEM\xa08,000,000 (estimated)' '£9,800,000 (estimated)'
 'SEK\xa018,000,000 (estimated)' '$13,500,000 (estimated)'
 '£132,000 (estimated)' '$1,173,639 (estimated)' '$1,103,000 (estimated)'
 '$1,486,000 (estimated)' 'CN¥553,632,000 (estimated)'
 '€20,000,000 (estimated)' '$2,111,250 (estimated)'
 'NOK\xa050,000,000 (estimated)' '$8,170,000 (estimated)'
 'CZK\xa0175,000,000 (estimated)' 'R$7,700,000 (estimated)'
 '$7,900,000 (estimated)' 'FRF\xa049,000,000 (estimated)'
 '$7,200,000 (estimated)' 'IEP\xa05,000,000 (estimated)'
 '₹1,250,000,000 (estimated)' '€2,100,000 (estimated)'

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             4989 non-null   int32
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int32(1), int64(1), object(9)
memory usage: 487.3+ KB

In [13]:
df.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,25000000,"$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,55151216,"$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin",6000000,"$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,55151216,NaN,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,55151216,NaN,2 hours 15 minutes

In [14]:
df['Runtime'].unique()

array(['2 hours 22 minutes', '2 hours 25 minutes', '2 hours 55 minutes',
       '1 hour 25 minutes', '2 hours 15 minutes', '56 minutes',
       '3 hours 12 minutes', '2 hours 32 minutes', '3 hours 15 minutes',
       '1 hour 36 minutes', '3 hours 22 minutes', '3 hours 21 minutes',
       '2 hours 18 minutes', '1 hour 40 minutes', '2 hours 58 minutes',
       '2 hours 34 minutes', '2 hours 16 minutes', '7 hours 47 minutes',
       '3 hours 27 minutes', '1 hour 30 minutes', '2 hours 27 minutes',
       '1 hour 35 minutes', '2 hours 4 minutes', '2 hours 28 minutes',
       '2 hours 19 minutes', '2 hours 41 minutes', '2 hours 59 minutes',
       '2 hours 17 minutes', '1 hour 27 minutes', '3 hours 10 minutes',
       '2 hours 38 minutes', '1 hour 32 minutes', '2 hours 2 minutes',
       '2 hours 46 minutes', '1 hour 20 minutes', '3 hours 4 minutes',
       '2 hours 49 minutes', '2 hours 13 minutes', '2 hours 44 minutes',
       '4 hours 7 minutes', '1 hour 28 minutes', '2 hours 9 minutes',
       '1 hour 56 minutes', '2 hours 33 minutes', '9 hours 26 minutes',
       '2 hours 20 minutes', '2 hours 36 minutes', '2 hours 37 minutes',
       '2 hours 1 minute', '1 hour 26 minutes', '3 hours 7 minutes',
       '1 hour 23 minutes', '1 hour 41 minutes', '1 hour 34 minutes',
       '2 hours 48 minutes', '2 hours 7 minutes', '1 hour 58 minutes',
       '2 hours 10 minutes', '3 hours 9 minutes', '2 hours 50 minutes',
       '1 hour 44 minutes', '1 hour 55 minutes', '2 hours 40 minutes',
       '2 hours 31 minutes', '2 hours 30 minutes', '4 hours 23 minutes',
       '1 hour 45 minutes', '1 hour 37 minutes', '2 hours 39 minutes',
       '2 hours 35 minutes', '1 hour 57 minutes', '2 hours 47 minutes',
       '2 hours 45 minutes', '2 hours 12 minutes', '1 hour 46 minutes',
       '1 hour 50 minutes', '1 hour 49 minutes', '1 hour 59 minutes',
       '1 hour 52 minutes', '2 hours 21 minutes', '1 hour 42 minutes',
       '2 hours 54 minutes', '1 hour 33 minutes', '2 hours 43 minutes',
       '6 hours 14 minutes', '1 hour 51 minutes', '2 hours 11 minutes',
       '3 hours 28 minutes', '2 hours 53 minutes', '3 hours 1 minute',
       '2 hours 42 minutes', '2 hours 6 minutes', '1 hour 48 minutes',
       '2 hours 24 minutes', '1 hour 31 minutes', '2 hours 26 minutes',
       '1 hour 53 minutes', '2 hours 29 minutes', '2 hours 57 minutes',
       '1 hour 38 minutes', '2 hours 5 minutes', '2 hours 23 minutes',
       '3 hours 23 minutes', '1 hour 24 minutes', '3 hours',
       '3 hours 49 minutes', '1 hour 39 minutes', '1 hour 21 minutes',
       '3 hours 47 minutes', '1 hour 47 minutes', '1 hour 43 minutes',
       '2 hours 8 minutes', '2 hours 3 minutes', '6 hours 33 minutes',
       '1 hour 29 minutes', '1 hour 8 minutes', '3 hours 5 minutes',
       '2 hours 51 minutes', '1 hour 22 minutes', '2 hours',
       '3 hours 3 minutes', '1 hour 19 minutes', '2 hours 14 minutes',
       '1 hour 54 minutes', '3 hours 58 minutes', '2 hours 52 minutes',
       '7 hours 19 minutes', '3 hours 6 minutes', '5 hours 30 minutes',
       '3 hours 57 minutes', '1 hour 18 minutes', '5 hours 21 minutes',
       '2 hours 56 minutes', '45 minutes', '3 hours 30 minutes',
       '3 hours 32 minutes', '3 hours 8 minutes', '3 hours 24 minutes',
       '3 hours 44 minutes', '1 hour 14 minutes', '1 hour 12 minutes',
       '3 hours 17 minutes', '1 hour 1 minute', '52 minutes',
       '3 hours 11 minutes', '1 hour 16 minutes', '3 hours 16 minutes',
       '1 hour 15 minutes', '1 hour 13 minutes', '3 hours 14 minutes',
       '58 minutes', '4 hours 2 minutes', '3 hours 40 minutes',
       '57 minutes', '3 hours 2 minutes', '48 minutes',
       '3 hours 29 minutes', '1 hour 10 minutes', '3 hours 13 minutes',
       '1 hour 4 minutes', '1 hour 6 minutes', '3 hours 50 minutes',
       '1 hour 5 minutes', '1 hour 9 minutes', '3 hours 37 minutes',
       '3 hours 26 minutes', '4 hours 31 minutes', '5 hours 17 minutes',
       '1 hour 11 minutes', '51 minutes', '3 hours 19 minutes',
       '1 hour 2 minutes', '1 hour 3 minutes', '3 hours 33 minutes',
       '1 hour 17 minutes', '3 hours 20 minutes', '59 minutes',
       '46 minutes', '7 hours 1 minute', '5 hours 50 minutes', '1 hour',
       '55 minutes'], dtype=object)

In [15]:
# Step 1: Check unique values in 'Runtime'
print("Unique values before cleaning:")
print(df['Runtime'].unique())

# Step 2: Extract hours and minutes from 'Runtime' and convert to total minutes
def convert_runtime_to_minutes(runtime):
    if pd.isna(runtime):
        return None
    hours = 0
    minutes = 0
    # Extract hours and minutes
    if 'hour' in runtime:
        hours = int(runtime.split('hour')[0].strip())
    if 'minute' in runtime:
        minutes = int(runtime.split('minute')[0].split()[-1].strip())
    # Calculate total minutes
    total_minutes = hours * 60 + minutes
    return total_minutes

# Apply the conversion function to the 'Runtime' column
df['Runtime'] = df['Runtime'].apply(convert_runtime_to_minutes)

# Step 3: Handle missing values by filling NaN with the mean of the column
mean_runtime = df['Runtime'].mean()  # Calculate the mean
df['Runtime'] = df['Runtime'].fillna(mean_runtime).astype(int)

# Check the cleaned column and its unique values
print("\nUnique values after cleaning:")
print(df['Runtime'].unique())

Unique values before cleaning:
['2 hours 22 minutes' '2 hours 25 minutes' '2 hours 55 minutes'
 '1 hour 25 minutes' '2 hours 15 minutes' '56 minutes'
 '3 hours 12 minutes' '2 hours 32 minutes' '3 hours 15 minutes'
 '1 hour 36 minutes' '3 hours 22 minutes' '3 hours 21 minutes'
 '2 hours 18 minutes' '1 hour 40 minutes' '2 hours 58 minutes'
 '2 hours 34 minutes' '2 hours 16 minutes' '7 hours 47 minutes'
 '3 hours 27 minutes' '1 hour 30 minutes' '2 hours 27 minutes'
 '1 hour 35 minutes' '2 hours 4 minutes' '2 hours 28 minutes'
 '2 hours 19 minutes' '2 hours 41 minutes' '2 hours 59 minutes'
 '2 hours 17 minutes' '1 hour 27 minutes' '3 hours 10 minutes'
 '2 hours 38 minutes' '1 hour 32 minutes' '2 hours 2 minutes'
 '2 hours 46 minutes' '1 hour 20 minutes' '3 hours 4 minutes'
 '2 hours 49 minutes' '2 hours 13 minutes' '2 hours 44 minutes'
 '4 hours 7 minutes' '1 hour 28 minutes' '2 hours 9 minutes'
 '1 hour 56 minutes' '2 hours 33 minutes' '9 hours 26 minutes'
 '2 hours 20 minutes' '2 hours 36 minutes' '2 hours 37 minutes'
 '2 hours 1 minute' '1 hour 26 minutes' '3 hours 7 minutes'
 '1 hour 23 minutes' '1 hour 41 minutes' '1 hour 34 minutes'
 '2 hours 48 minutes' '2 hours 7 minutes' '1 hour 58 minutes'
 '2 hours 10 minutes' '3 hours 9 minutes' '2 hours 50 minutes'
 '1 hour 44 minutes' '1 hour 55 minutes' '2 hours 40 minutes'
 '2 hours 31 minutes' '2 hours 30 minutes' '4 hours 23 minutes'
 '1 hour 45 minutes' '1 hour 37 minutes' '2 hours 39 minutes'
 '2 hours 35 minutes' '1 hour 57 minutes' '2 hours 47 minutes'
 '2 hours 45 minutes' '2 hours 12 minutes' '1 hour 46 minutes'
 '1 hour 50 minutes' '1 hour 49 minutes' '1 hour 59 minutes'
 '1 hour 52 minutes' '2 hours 21 minutes' '1 hour 42 minutes'
 '2 hours 54 minutes' '1 hour 33 minutes' '2 hours 43 minutes'
 '6 hours 14 minutes' '1 hour 51 minutes' '2 hours 11 minutes'
 '3 hours 28 minutes' '2 hours 53 minutes' '3 hours 1 minute'
 '2 hours 42 minutes' '2 hours 6 minutes' '1 hour 48 minutes'
 '2 hours 24 minutes' '1 hour 31 minutes' '2 hours 26 minutes'
 '1 hour 53 minutes' '2 hours 29 minutes' '2 hours 57 minutes'
 '1 hour 38 minutes' '2 hours 5 minutes' '2 hours 23 minutes'
 '3 hours 23 minutes' '1 hour 24 minutes' '3 hours' '3 hours 49 minutes'
 '1 hour 39 minutes' '1 hour 21 minutes' '3 hours 47 minutes'
 '1 hour 47 minutes' '1 hour 43 minutes' '2 hours 8 minutes'
 '2 hours 3 minutes' '6 hours 33 minutes' '1 hour 29 minutes'
 '1 hour 8 minutes' '3 hours 5 minutes' '2 hours 51 minutes'
 '1 hour 22 minutes' '2 hours' '3 hours 3 minutes' '1 hour 19 minutes'
 '2 hours 14 minutes' '1 hour 54 minutes' '3 hours 58 minutes'
 '2 hours 52 minutes' '7 hours 19 minutes' '3 hours 6 minutes'
 '5 hours 30 minutes' '3 hours 57 minutes' '1 hour 18 minutes'
 '5 hours 21 minutes' '2 hours 56 minutes' '45 minutes'
 '3 hours 30 minutes' '3 hours 32 minutes' '3 hours 8 minutes'
 '3 hours 24 minutes' '3 hours 44 minutes' '1 hour 14 minutes'
 '1 hour 12 minutes' '3 hours 17 minutes' '1 hour 1 minute' '52 minutes'
 '3 hours 11 minutes' '1 hour 16 minutes' '3 hours 16 minutes'
 '1 hour 15 minutes' '1 hour 13 minutes' '3 hours 14 minutes' '58 minutes'
 '4 hours 2 minutes' '3 hours 40 minutes' '57 minutes' '3 hours 2 minutes'
 '48 minutes' '3 hours 29 minutes' '1 hour 10 minutes'
 '3 hours 13 minutes' '1 hour 4 minutes' '1 hour 6 minutes'
 '3 hours 50 minutes' '1 hour 5 minutes' '1 hour 9 minutes'
 '3 hours 37 minutes' '3 hours 26 minutes' '4 hours 31 minutes'
 '5 hours 17 minutes' '1 hour 11 minutes' '51 minutes'
 '3 hours 19 minutes' '1 hour 2 minutes' '1 hour 3 minutes'
 '3 hours 33 minutes' '1 hour 17 minutes' '3 hours 20 minutes'
 '59 minutes' '46 minutes' '7 hours 1 minute' '5 hours 50 minutes'
 '1 hour' '55 minutes']

Unique values after cleaning:
[142 145 175  85 135  56 192 152 195  96 202 201 138 100 178 154 136 467
 207  90 147  95 124 148 139 161 179 137  87 190 158  92 122 166  80 184
 169 133 164 247  88 129 116 153 566 140 156 157 121  86 187  83 101  94
 168 127 118 130 189 170 104 115 160 151 150 263 105  97 159 155 117 167
 165 132 106 110 109 119 112 141 102 174  93 163 374 111 131 208 173 181
 162 126 108 144  91 146 113 149 177  98 125 143 203  84 180 229  99  81
 227 107 103 128 123 393  89  68 185 171  82 120 183  79 134 114 238 172
 439 186 330 237  78 321 176  45 210 212 188 204 224  74  72 197  61  52
 191  76 196  75  73 194  58 242 220  57 182  48 209  70 193  64  66 230
  65  69 217 206 271 317  71  51 199  62  63 213  77 200  59  46 421 350
  60  55]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             4989 non-null   int32
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   int32
dtypes: float64(2), int32(2), int64(1), object(8)
memory usage: 467.8+ KB

In [17]:
df.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,25000000,"$29,332,133",142
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,55151216,"$3,513,659",145
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin",6000000,"$250,342,198",175
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,55151216,NaN,85
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,55151216,NaN,135

In [18]:
categorical_col=df.select_dtypes(include=['object', 'category']).columns
categorical_col
LabelEncoder=LabelEncoder
for col in categorical_col:
    df[col]=LabelEncoder().fit_transform(df[col])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   int32
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   int32
 4   Writer             4989 non-null   int32
 5   Metascore          3055 non-null   float64
 6   Cast               4989 non-null   int32
 7   Release Date       4989 non-null   int32
 8   Country of Origin  4989 non-null   int32
 9   Languages          4989 non-null   int32
 10  Budget             4989 non-null   int32
 11  Worldwide Gross    4989 non-null   int32
 12  Runtime            4989 non-null   int32
dtypes: float64(2), int32(10), int64(1)
memory usage: 311.9 KB

In [20]:
for column in df.columns:
    if df[column].isnull().sum()>0:
        if df[column].dtype=='object':
            df[column].fillna(df[column].mode()[0], inplace=True)
        else:
            df[column].fillna(df[column].mean(), inplace=True)

C:\Users\erniyazov_sarvarbek\AppData\Local\Temp\ipykernel_1300\2478022498.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   int32
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   int32
 4   Writer             4989 non-null   int32
 5   Metascore          4989 non-null   float64
 6   Cast               4989 non-null   int32
 7   Release Date       4989 non-null   int32
 8   Country of Origin  4989 non-null   int32
 9   Languages          4989 non-null   int32
 10  Budget             4989 non-null   int32
 11  Worldwide Gross    4989 non-null   int32
 12  Runtime            4989 non-null   int32
dtypes: float64(2), int32(10), int64(1)
memory usage: 311.9 KB

In [22]:
x=df.drop('Worldwide Gross', axis=1)
y=df['Worldwide Gross']

In [23]:
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.3, random_state=42)
x_val,x_test,y_val,y_test=train_test_split(x_temp, y_temp, test_size=0.5, random_state=42)

In [24]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_val_scaled = scaler.transform(x_val)
x_test_scaled = scaler.transform(x_test)

In [28]:
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [30]:
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(mse)
print(r2)

1652798.7293049395
-0.0037142098566438353

In [27]:
# Cross-validation with the final model
cv_scores_final = cross_val_score(model, x_train_scaled, y_train, cv=5)
print("\nFinal Model Cross-Validation Accuracy:", cv_scores_final.mean())

Final Model Cross-Validation Accuracy: -0.0017046934885021291

In [ ]:
# Decision Tree Classifier
dt_model = DecisionTreeClassifier(random_state=42)
dt_model.fit(x_train_scaled, y_train)
y_val_pred=dt_model.predict(x_val_scaled)
accuracy=accuracy_score(y_val,y_val_pred)
accuracy

0.07620320855614973

In [29]:
# Random Forest Classifier
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(x_train_scaled, y_train)
y_val_pred=rf_model.predict(x_val_scaled)
accuracy=accuracy_score(y_val,y_val_pred)
accuracy

0.20855614973262032

In [30]:
# K-Nearest Neighbors Classifier
knn_model = KNeighborsClassifier()
knn_model.fit(x_train_scaled, y_train)
y_val_pred=knn_model.predict(x_val_scaled)
accuracy=accuracy_score(y_val,y_val_pred)
accuracy

0.10695187165775401

In [31]:
from sklearn.model_selection import cross_val_score

# Decision Tree Cross-Validation
cv_scores_dt = cross_val_score(dt_model, x_train_scaled, y_train, cv=5)
print("Decision Tree Cross-Validation Scores:", cv_scores_dt)
print("Mean Cross-Validation Score for Decision Tree:", cv_scores_dt.mean())

# Random Forest Cross-Validation
cv_scores_rf = cross_val_score(rf_model, x_train_scaled, y_train, cv=5)
print("Random Forest Cross-Validation Scores:", cv_scores_rf)
print("Mean Cross-Validation Score for Random Forest:", cv_scores_rf.mean())

# KNN Cross-Validation
cv_scores_knn = cross_val_score(knn_model, x_train_scaled, y_train, cv=5)
print("KNN Cross-Validation Scores:", cv_scores_knn)
print("Mean Cross-Validation Score for KNN:", cv_scores_knn.mean())

c:\Users\erniyazov_sarvarbek\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Decision Tree Cross-Validation Scores: [0.08869814 0.08154506 0.0773639  0.08166189 0.09312321]
Mean Cross-Validation Score for Decision Tree: 0.0844784403425278

c:\Users\erniyazov_sarvarbek\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Random Forest Cross-Validation Scores: [0.21459227 0.20600858 0.21060172 0.21203438 0.20487106]
Mean Cross-Validation Score for Random Forest: 0.20962160433857618

c:\Users\erniyazov_sarvarbek\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

KNN Cross-Validation Scores: [0.10872675 0.10729614 0.10458453 0.10744986 0.10028653]
Mean Cross-Validation Score for KNN: 0.1056687613496153